.profile-wrapper {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-container {
  margin-top: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-right: 40px;
}


.profile-top {
   h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
   }
  img {
    border-radius: 50%;
  }
}


.edit-profile {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


.profile-followers {
  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
  }
}
