<br><br><br><br><br><br>
<h1>Users:</h1>
<ul>
  <%= render @users %>
</ul>
<div class="search-wrapper">
  <div class="search-container ">
    <% @posts.each do |post| %>
    <%= render 'shared/search', post: post %>
    <% end %>
  </div>
</div>


