<div class="user-wrapper">
  <button onclick="mySearch()"> <i class="fas fa-search"></i> Search Users</button>
  <div id="search" style= 'display: none'>
   <%= render @users %>
 </div>
</div>
<div class="search-wrapper">
  <div class="search-container ">
    <% @posts.each do |post| %>
    <%= render 'shared/search', post: post %>
    <% end %>
  </div>
</div>


<script>
  function mySearch() {
    document.querySelectorAll("#search").forEach((search) => {
      if (search.style.display === "none") {
        search.style.display = "block";
      } else {
        search.style.display = "none";

      }
    });
  }
</script>
