<div class="navbar-instagram">
  <div class="navbar-add">
    <% if user_signed_in? %>
    <%= link_to new_post_path  do %>
    <i class="fas fa-camera"></i>
    <% end %>
    <% else %>
    <% end %>
  </div>
  <div class="navbar-logo">
    <h2>INSTAGRAM</h2>
  </div>
  <div class="navbar-log">
    <% if user_signed_in? %>
    <%= link_to pages_about_path do  %>
    <i class="far fa-paper-plane"></i>
    <% end %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
    <% end %>
  </div>
</div>





