.btn-instagram {
  color: white;
  i {
    color: grey;
    font-size: 25px;
  }
  &:hover {
    color: white;
  }
}


.btn-edit-profile {
  padding: 10px 100px;
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: grey;
  }

}
