.form-container {
  width: 90%;
  margin: 80px auto;
  text-align: center;
  img {
    text-align: center;
    width: 300px;
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
    border: 3px solid black;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    font-size: 25px;
  }

}
.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.hidden {
  display: none;
}


// Reviews forms

.review-form {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form-input {
  color: white;
  .form-control {
    border-radius: 6px;
    padding-top: 20px;
    border: 1px solid;
    line-height: 1;
  }
}


