.form-container {
  width: 60%;
  margin: 70px auto;
  text-align: center;

}
.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.hidden {
  display: none;
}


// Reviews forms

.review-form {
  width: 80%;
  margin: 0 auto;
}

.form-input {
  color: #F4F4F4;
  .form-control {
    border-radius: 6px;
    padding-top: 20px;
    border: 1px solid;
    line-height: 1;
  }
}


