//users index

.user-wrapper {
  width: 90%;
  margin: 70px auto;
}

.user-container {
  img {
    border-radius: 50%;
    margin-bottom: 20px;
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: grey;
    }
  }

}
// image under users follow and unfollow
.search-wrapper {
  width: 500px;
  margin: 0 auto;
}

.search-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 0px;

}


.search-img {

  img {
    width: 100%;
    height: 150px;
    border: 1px solid white;
    margin-right: 0px;
    margin-left: 0px;
  }

}
